body {
    background-color: #3feee6;

}

.name {
  background-color: #fc4445;
  color: #ffffff;
  border: 20xp solid red;
}

header {
    padding: 1em;
    color: white;
    background-color: #fc4445;
    width: 98.3%;
}

.navbar {
  overflow: hidden;
  background-color: #fc4445;
  position: fixed;
  top: 0;
  width: 99.3%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 500px;
  margin: 0px auto;

}

.HERE {
      margin: auto;
      width: 60%;
      border: 3px solid #fc4445;
      padding: 10px;
  }

.lime {
  background:#55bcc9;
  color:#ffffff;
  font-size: 200%;
  margin: auto;
  width: 100%;
  border: 2px solid #fc4445;
  padding: 0;
}

.wrapper {
  padding: 3px;
}


.lastpic {
  padding-left: 10px;
 float: left;
}

.leyo {
  background-color:#fc4445;
  color: white;
}
